/* Navbar.module.css */
.navbar {
    background: #333;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hamburger {
    cursor: pointer;
    font-size: 2rem; /* Adjust the size as needed */
    display: block;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  
  .showMenu {
    max-height: 300px; /* Adjust as needed */
  }
  
  .navItem a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .navItem a:hover {
    background-color: #555; /* Hover effect */
  }
  
  /* Larger screens */
  @media (min-width: 768px) {
    .hamburger {
      display: none; /* Hide hamburger on larger screens */
    }
  
    .navList {
      display: flex;
      max-height: none;
    }
  
    .navItem {
      margin: 0 0.5rem; /* Space between menu items */
    }
  
    .navItem a {
      padding: 0.5rem 1rem;
    }
  }
  